.add-doctor-container {
  width: 100%;
  /* background: rgb(254, 254, 254); */
  padding: 20px;
  box-sizing: border-box;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  overflow-x: hidden;
}

.add-doctor-container .user-input-container {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  border-radius: 10px;
  box-shadow: 1px 2px 20px rgba(1, 1, 1, 0.1);
  padding: 10px;
  background: white;
  margin-right: 10px;
}

.add-doctor-container .user-input-container .user-input-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.add-doctor-container .user-input-container .user-input-column {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.add-doctor-container h4 {
  margin: 10px 30px 0 30px;
  color: var(--prima--color);
  font-weight: 500;
}

.add-doctor-container .doctor-input-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  border-radius: 10px;
  box-shadow: 1px 2px 20px rgba(1, 1, 1, 0.1);
  background: white;
  margin-left: 10px;
  padding: 10px;
}



  .radio-container {
      position: relative;
      width: 40%;
      height: 52px;
      padding: 10px;
      margin: 10px 20px;
      display: flex;
      flex-direction: row;
      font-size: 20;
      justify-content:start;
  }

  .radio-container .radio-column{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
  }

  .radio-container .radio-column label {
    font-size: 18px;
  }
  .radio-container .radio-column input {
    font-size: 30px;
    width: 20px;
    height: 20px;
  }